{% comment %}
btn_save_model (bool) - отображать кнопку сохранения модели
{% endcomment %}

<div class="mb-3 col-md-6">
  <label for="orderCosts" class="form-label">Затраты на пополнение</label>
  <input type="number" min="0" class="form-control bg-dark text-light" id="orderCosts" placeholder="параметр A"
         name="orderCosts" required inputmode="decimal" step="any">
</div>
<div class="mb-3 col-md-6">
  <label for="storageCosts" class="form-label">Затраты на хранение</label>
  <input type="number" min="0" class="form-control bg-dark text-light" id="storageCosts" placeholder="параметр I"
         name="storageCosts" required inputmode="decimal" step="any">
</div>
<div class="mb-3 col-md-6">
  <label for="deliveryTime" class="form-label">Время доставки</label>
  <input type="number" min="0" class="form-control bg-dark text-light" id="deliveryTime" placeholder="в днях"
         name="deliveryTime" required inputmode="numeric">
</div>
<div class="mb-3 col-md-6">
  <label for="delayTime" class="form-label">Возможная задержка</label>
  <input type="number" min="0" class="form-control bg-dark text-light" id="delayTime" placeholder="в днях" name="delayTime"
         required inputmode="numeric" autocomplete="off">
</div>
<div class="mb-3 col-md-6">
  <label for="delayProbability" class="form-label">Вероятность задержки</label>
  <input type="range" class="form-range bg-dark text-light" id="delayProbability" min="0" max="1" step="0.01" value="0"
         name="delayProbability" required>
</div>
<div class="mb-3 col-md-6">
  <label for="delayDays" class="form-label">Задержка поставок</label>
  <input type="text" pattern="[0-9,]*" class="form-control bg-dark text-light" id="delayDays"
         placeholder="через запятую"
         name="delayDays" autocomplete="off">
</div>
<div class="mb-3 col-md-6">
  <label for="initialStock" class="form-label">Начальный запас</label>
  <input type="number" class="form-control bg-dark text-light" id="initialStock" placeholder="любое значение"
         name="initialStock" required inputmode="decimal" step="any">
</div>

<div class="mb-3 col-md-6">
  <label for="deficitLosses" class="form-label">Потери от дефицита</label>
  <input type="number" class="form-control bg-dark text-light" id="deficitLosses" placeholder="больше нуля"
         name="deficitLosses" step="any" min="0.000000000000001" {% if is_classic %}disabled{% endif %}
         inputmode="decimal">
</div>
<div class="mb-3 col-md-6">
  <label for="avgDailyConsumption" class="form-label">Среднесуточное потребление</label>
  <input type="number" class="form-control bg-dark text-light" id="avgDailyConsumption" placeholder="отгрузка"
         name="avgDailyConsumption" step="any" {% if is_classic %}disabled{% endif %} autocomplete="off"
         inputmode="decimal">
</div>
<div class="mb-3 col-md-6">
  <label for="avgDailyConsumptionD" class="form-label">Среднесуточное поступление</label>
  <input type="number" class="form-control bg-dark text-light" id="avgDailyConsumptionD" placeholder="оприходование"
         name="avgDailyConsumptionD" step="any" {% if is_classic %}disabled{% endif %} autocomplete="off"
         inputmode="decimal">
</div>

<div class="mb-3">
  <label for="consumptionDataset" class="form-label">Потребность</label>
  <textarea class="form-control bg-dark text-light" id="consumptionDataset" rows="5"
            placeholder="123.45
67
234.67" name="consumptionDataset"
            required style="resize: none"></textarea>
</div>

<div class="d-grid gap-2">
  <button type="button" class="btn btn-outline-primary" id="btnChooseDataset" data-bs-toggle="modal"
          data-bs-target="#listDatasets"><i
          class="bi bi-bar-chart-line"></i>
    Выбрать датасет
  </button>
  <button type="submit" class="btn btn-outline-primary" id="btnBuildGraph"><i
          class="bi bi-code-slash"></i>
    Смоделировать
  </button>
{% if btn_save_algo %}
  {% with user=request.user instance=form_algo.instance %}
    {% if user.is_authenticated and can_save_algo %}
      <button
              type="button"
              class="btn btn-outline-success"
              id="btnSaveAlgorithmBefore">
        <i class="bi bi-cloud-arrow-up"></i>
        Сохранить модель
      </button>
    {% endif %}
  {% endwith %}
{% endif %}
  <button type="button" class="btn btn-outline-danger" id="btnClearForm"><i class="bi bi-trash3"></i>
    Очистить форму
  </button>
</div>
