<canvas id="mainChart" height="100%"></canvas>
<button disabled type="button" class="btn btn-outline-secondary" id="btnResetZoom"><i
        class="bi bi-zoom-out"></i> Сбросить приближение
</button>
<button disabled type="button" class="btn btn-outline-success" id="btnDownloadChart"><i
        class="bi bi-bar-chart-line"></i> Скачать график
</button>
<button disabled type="button" class="btn btn-outline-success" id="btnDownloadExcel"><i
        class="bi bi-file-earmark-spreadsheet"></i> Скачать excel
</button>
<div id="infoDiv" class="mt-3"></div>