<form class="row">
  {% csrf_token %}


  <div class="mb-3 col-md-12">
    <label for="formulaPointRefill" class="form-label">Формула нахождения точки пополнения заказа
      <i class="bi bi-question-circle" role="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasScrolling"
         aria-controls="offcanvasScrolling">
      </i>
    </label>
    <textarea class="form-control" id="formulaPointRefill" required spellcheck="false"></textarea>
  </div>
  <div class="mb-3 col-md-12">
    <label for="formulaOrderSize" class="form-label">Формула размера заказа
      <i class="bi bi-question-circle" role="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasScrolling"
         aria-controls="offcanvasScrolling">
      </i>
    </label>
    <textarea class="form-control" id="formulaOrderSize" required spellcheck="false"></textarea>
  </div>
  <div class="mb-3 col-md-12">
    <label for="formulaScore" class="form-label">Оценивающая функция
      <i class="bi bi-question-circle" role="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasScrolling"
         aria-controls="offcanvasScrolling">
      </i>
    </label>
    <textarea class="form-control" id="formulaScore"></textarea>
  </div>


  {% include 'web/includes/_form_common.html' %}

  <div class="d-grid gap-2">
    <button type="button" class="btn btn-outline-primary" id="btnChooseDataset" data-bs-toggle="modal"
            data-bs-target="#listDatasets"><i
            class="bi bi-bar-chart-line"></i>
      Выбрать датасет
    </button>
    <button type="submit" class="btn btn-outline-primary" id="btnBuildGraph"><i
            class="bi bi-code-slash"></i>
      Смоделировать
    </button>
    <button type="button" class="btn btn-outline-success" id="btnSaveModel"><i class="bi bi-cloud-arrow-up"></i>
      Сохранить датасет
    </button>
    <button type="button" class="btn btn-outline-danger" id="btnClearForm"><i class="bi bi-trash3"></i>
      Очистить форму
    </button>
    <button type="button" class="btn btn-outline-success" id="btnSaveAlgorithm"><i class="bi bi-cloud-arrow-up"></i>
      Сохранить метод
    </button>
  </div>

</form>


<style>
    .docs_help code {
        font-weight: bold;
    }

    .docs_help pre {
        overflow-x: visible;
        overflow-wrap: break-word;
        color: #2c2c2c;
        background-color: #aeaeae;
    }

    .docs_help pre > code {
        font-weight: normal;
    }
</style>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"
     style="width: calc(var(--bs-offcanvas-width) + 300px)">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Справка по фреймворку</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body docs_help">
    {{ author_docs|safe }}
  </div>
</div>