<form class="row">
  {% csrf_token %}

  {% for field in form_algo %}
    <div class="mb-3 col-md-12">
      <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
      <i class="bi bi-question-circle" role="button" data-bs-toggle="offcanvas"
         data-bs-target="#modalDocumentationFramework"
         aria-controls="modalDocumentationFramework">
      </i>
      {{ field }}
    </div>
  {% endfor %}

  {% include 'web/includes/_form_common.html' with btn_save_algo=True %}

</form>


<style>
    .docs_help code {
        font-weight: bold;
    }

    .docs_help pre {
        overflow-x: visible;
        overflow-wrap: break-word;
        color: #2c2c2c;
        background-color: #aeaeae;
    }

    .docs_help pre > code {
        font-weight: normal;
    }
</style>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
     id="modalDocumentationFramework" aria-labelledby="modalDocumentationFrameworkLabel"
     style="width: calc(var(--bs-offcanvas-width) + 300px)">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="modalDocumentationFrameworkLabel">Справка по фреймворку</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body docs_help">
    {{ author_docs|safe }}
    <p><a href="{% url 'docs' %}" target="_blank">Подробнее &nearr;</a></p>
  </div>
</div>


<!-- сохранение алгоритма -->
<div class="modal fade" id="modalSaveAlgorithm" tabindex="-1" aria-labelledby="modalSaveAlgorithmLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSaveAlgorithmLabel">Сохранить модель</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        {% with form_algo.instance as instance %}
          <form>
            <div class="mb-3">
              <label for="formFormulaDescription" class="col-form-label">Описание:</label>
              <textarea class="form-control"
                        id="formFormulaDescription">{{ instance.description|default_if_none:"" }}</textarea>
            </div>
            <div class="mb-3">
              <input type="checkbox" class="form-check-input" id="formFormulaIsPublic"
                     {% if instance.is_public %}checked{% endif %}>
              <label for="formFormulaIsPublic" class="col-form-label orm-check-input-label">Публичная</label>
            </div>
          </form>
        {% endwith %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="btnSaveAlgorithm">Сохранить</button>
      </div>
    </div>
  </div>
</div>

